<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.__INITIAL_DATA__ = <%- initialData %>;
    </script>
    <script src="/js/app.js" type="module"></script>
  </body>
</html>
